<div class="cocktail_banner"></div>
<div class="container1">
  <h1><%= @cocktail.name %></h1>
  <h3>
    <div class="cards"><ul>
      <div class="row">
    <% @cocktail.doses.each do |dose| %>
    <li>
      <div class = "col.md-4"><div class="card">
      <%= dose.description %>

      <%= dose.ingredient.name %>
      <br>
      <%= link_to 'Remove Ingredient', dose_path(dose), method: :delete %>
      </div></div>
      </li>
      <% end %>
      <ul></div></div>
  </h3>

  <div class="links">
  <h2><%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %></h2>

  </div>
</div>
