<div class="cocktail_banner"><%= cl_image_tag @cocktail.photo, height: 700, width: 1840, crop: :fill %></div>
<div class="container1">
  <h1><%= @cocktail.name %></h1>
  <h3>
    <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <div class="card">
      <%= dose.description %>

      <%= dose.ingredient.name %>
      <br>
      <%= link_to 'Remove Ingredient', dose_path(dose), method: :delete %>
      </div>
      </li>
      <% end %>
      <ul>
  </h3>

  <div class="links">
  <h2><%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %></h2>

  </div>
</div>
